<body>
    <div class="main-all">
  <div class="main">
  <h4>Đăng nhập</h4>
      <div class="title-login"></div>
      <span>Tài khoản</span>
      <div class="text-input" >
          <!-- <input class="form-input" type="text" > -->
          <ejs-dropdownlist id='ddlelement' [dataSource]='data' placeholder='Chọn Tài Khoản' popupHeight='200px' popupWidth='250px' ></ejs-dropdownlist>
      </div>
      <!-- <div id='local' class='col-lg-6' style="margin: 0 auto;padding-top: 25px;">
          <div style="width: 250px;margin: 0 auto;">
             
              <ejs-dropdownlist id='ddlelement' [dataSource]='data' placeholder = 'Select a game'></ejs-dropdownlist>
          </div>
      </div> -->
      <span class=pw-login>Mật khẩu</span>
      <div class="text-input2">
          <input class="form-input" type="password" >
      </div>
      <div class="main-button">
          <button>Đăng nhập</button>
         
      </div>
  </div>
</div>
<body>
<!-- <p>edit-home works!</p> -->
